KEY=authority_private_key
API_KEY=helius_api_key
ANON=base_32_key_to_crypt_decrypt
COLLECTION=collection_mint_address
TOKEN_ACC=DnPvCUjsorWnDF6mVvPsuDSY1XUnUTSiGrZ3cUJeLKi3
SIZE=size_in_pixels
NEXT_PUBLIC_RPC=rpc_you_know
NEXT_PUBLIC_PIXELS=PXLSmSBWHU8yAqNof9Ry2LPsZxHSYB4xXsBaQWUmEzV
NEXT_PUBLIC_DEST=publickey_from_authority
NEXT_PUBLIC_AMOUNT=1pixel_price
